/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 17px;
  line-height: 1.6em;

  font-family: 'Century';
  color: #111;

  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  /* Aqui ajusta o enquadramento da página  */
  max-width: 50rem;
  min-width: 320px;
  margin: 0 auto;

  position: relative;
  z-index: 1;

  height: 100%;
}

hr {
  margin-top: 5px;
  margin-bottom: 30px;

}

/* Titulo do Post */
h1:first-of-type {
  text-align: center;
  font-size: 2.5em;

}

h2 {
  margin-bottom: 3.5px;
}

a {
  color: #272727;
  text-decoration:none;
  display: inline;

  }


  /*  */
blockquote {
    color:#111;
    border: 1px solid;
    border-color: #bbb;
    margin: 10px;

    padding: 0.9rem 1.25rem 0.95rem 1.25rem;
    font-size: 0.95em;
    background: #f0f0f0;
    font-weight: 400;
}

/* O primeiro blockquote é o Abstract */
blockquote:first-of-type {
  max-width: 70%;
  margin: 30px auto;
}

/* --- Content --- */
  .content {
    margin-bottom: 2rem;
    min-height: 75%;
  }
  

/* Content Links */
  .content a {
    border-bottom: 1px dotted #999;
    color:  #E33654;
  }

  .content a:hover {
    border-bottom: none;
    text-decoration:underline solid #f11e41;    
  }


/* --- Main-Navigation Bar --- */
  
.site-nav {
    position: relative; /* I've to figure out what it means */
    margin-top: 0;
    display: flex;
    width: 100%;
    padding: 0 13px;
    border-bottom: 2px solid #EAEDF0;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 60px;
    
}
  
.site-nav a:hover {
    color: #E33654;
}

/* Site logo Aruna*/
.logo {
    position: relative;
    top: 1px;
    font-size: 26.8125px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 0;
    
  }

/* Site navigation links */
.main-menu {
    position: relative;
    display: flex;
    top: 5px;
    margin-left: 500px;
    padding-bottom: 0;

}


.main-menu a {
    margin-right: 10px;
}

.main-menu > li {
  display: inline;
}

/* Isso Aqui eu não sei para que serve, depois tenho que ver se vou querer ficar */
  @media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
      flex-direction: column;
    }
  
    .site-nav a {
      padding: 0.5rem;
      padding-left: 0;
    }
  }
  
/* --- Archive Page ---  */

.archive_page {
  margin-bottom: 2rem;
  min-height: 75%

} 

.archive_page h1 {
  margin-bottom: 40px;
}

.post-snippet {
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }
  
.archive_page a {
    display: inline-flex;
    color:  #E33654;
  }

.archive_page a:hover {
    text-decoration:underline solid #f11e41;    
  }


.post_date {
  display: block;
  float: right;
}


/* --- Footer ---  */

.site-footer {
    position: relative;
    bottom: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 16.4375px;
    color: #828282;
    clear: both;
    margin-bottom: 10px;
}