/* Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 20.5px;
  line-height: 1.55em;

  font-family: 'Century';
  color: #3c3d3f;

  background-color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  /* Aqui ajusta o enquadramento da página  */
  max-width: 50rem;
  min-width: 320px;
  margin: 0 auto;

  position: relative;
  z-index: 1;

  height: 100%;
}

p {
  margin-bottom: 1em;
}

p code {
        font-size: 16.5px;
        background-color: #eeeeee;
     }


hr {
  margin-top: 5px;
  margin-bottom: 30px;

}

/* Titulo do Post */
h1:first-of-type {
  text-align: center;
  font-size: 2.5em;

}

h2, h3 {
  margin-bottom: 0.5em;
}

a {
  color: #272727;
  text-decoration:none;
  display: inline;

  }


  /*  */
blockquote {
    /* color:#111; */
      color: #5D6063;

    border: 1px solid;
    border-color: #bbb;
    margin: 10px;

    padding: 0.9rem 1.25rem 0.95rem 1.25rem;
    font-size: 0.95em;
    background: #f0f0f0;
    font-weight: 400;
}

ul, ol {
  padding-left: 42px;
  margin-bottom: 1em;
}

/* O primeiro blockquote é o Abstract */
/* blockquote:first-of-type { */
/*   max-width: 70%; */
/*   margin: 30px auto; */
/* } */

#first_page_quote {
                  font-size: 0.9em; 
                  max-width: 90%;
                  margin: 30px auto;
                  background: #ffffff;
                  border: none;
}


/* --- Content --- */
  .content {
    
    margin-bottom: 2rem;
    min-height: 75%;
  }
  

/* Content Links */
  .content a {
    border-bottom: 1px dotted #999;
    color:  #E33654;
  }

  .content a:hover {
    border-bottom: none;
    text-decoration:underline solid #f11e41;    
  }


/* --- Content Header --- */

.post_title{
  text-align: center;
  font-size: 1.0em;
  margin-bottom: 1em;
  line-height: 2.8em;
}

.post_header {
  display: flex;
  margin: 1em 1em;
  justify-content: space-between;


}


.post_tags {
  display: flex;
  justify-self: self-start;
  align-self: flex-start;
  list-style-type: none;
  margin-bottom: 0.2em;
  /* border: 1px solid red; */

}


.tag {
  line-height: 20px; 
  font-size: 16.0px;
  display: inline;
  margin-left: 7px;
  padding: 2.5px 4px;
  border: 0.005px solid #3c3d3f;
  border-radius: 5px;
  /* border: 1px solid red; */

}

.date_info {
    font-size: 17.0px;  
    color: #3c3d3f;
    font-style: italic;

}

/* --- Main-Navigation Bar --- */
  
.site-nav {
    position: relative; /* I've to figure out what it means */
    margin-top: 0;
    display: flex;
    width: 100%;
    padding: 0 13px;
    border-bottom: 2px solid #EAEDF0;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 60px;
    
}
  
.site-nav a:hover {
    color: #E33654;
}

/* Site logo Aruna*/
.logo {
    position: relative;
    top: 1px;
    font-size: 30.8125px;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 0;
    
  }

/* Site navigation links */
.main-menu {
    position: relative;
    display: flex;
    top: 5px;
    padding-bottom: 0;

}

.main-menu a {
    margin-right: 10px;
}

.main-menu > li {
  display: inline;
}

/* Isso Aqui eu não sei para que serve, depois tenho que ver se vou querer ficar */
  @media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
      flex-direction: column;
    }
  
    .site-nav a {
      padding: 0.5rem;
      padding-left: 0;
    }
  }
  

/* --- Home Page --- */

.summary_box {
              font-size: 0.90em;
              border: 0.11em solid;
              padding: 1.0em;
              margin-top: 0.01em;
              margin-bottom: 3.0em;
             }

#summary_title_link {
              position: relative;
              top: 2px;
              color: #3c3d3f;
              font-weight: bold;
              font-size: 1.5em;
              margin-bottom: -5.110em;
              margin-left: 0.3em;
              border-bottom: none;
              /* border: 1px solid red; */
              
             }

#summary_title_link:hover {
              color: #E33654;
              border-bottom: 0px;
              text-decoration: none;    
             }

.post_preview_metadata {
                       display: flex;
                       margin-top: 0em;
                       justify-content: space-between;
                       padding: 0.000px;
                       /* border: 1px solid red; */ 

             }

.post_preview_date_box {
                    display: flex;
                    margin-left: 0.35em;
                    
                   }

.post_preview_date {
                    font-size: 17.5px;  
                    color: #777879;
                    font-style: italic;
                    margin-left: 0.6em;
                   }


.post_preview_tags {
  display: flex;
  align-self: flex-end;
  list-style-type: none;
  margin-bottom: 0.2em;
  margin-right: 0.8em;

}


.post_preview_tag {
  line-height: 15px; 
  font-size: 14.5px;
  display: inline;
  margin-left: 7px;
  padding: 2.5px 4px;
  border: 0.008px solid #3c3d3f;
  border-radius: 5px;
  /* border: 1px solid red; */
}

#post_preview_tags {
  display: flex;
  align-self: flex-end;
  list-style-type: none;
  margin-bottom: 0.2em;
  margin-right: 0.8em;

}


#post_preview_tag {
  line-height: 15px; 
  font-size: 14.5px;
  display: inline;
  margin-left: 7px;
  padding: 2.5px 4px;
  border: 0.008px solid #3c3d3f;
  border-radius: 5px;
  /* border: 1px solid red; */
}


#post_preview_tag a {
              color: #3c3d3f;
              border-bottom: none;
}


#post_preview_tag a:hover {
    font-weight: bold;
    color: #E33654;
    text-decoration: none;    
  }

/* --- Archive Page ---  */

.archive_page {
  margin-bottom: 2rem;
  min-height: 75%

} 

.archive_page h1 {
  margin-bottom: 40px;
}

.post-snippet {
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }
  
.archive_page a {
    display: inline-flex;
    color:  #E33654;
  }

.archive_page a:hover {
    text-decoration:underline solid #f11e41;    
  }


.post_date {
  display: block;
  float: right;
}


/* --- Footer ---  */

.site-footer {
    position: relative;
    bottom: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 19.0px;
    color: #828282;
    clear: both;
    margin-bottom: 10px;
}
