<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<!-- Carrega o css generico -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	
<!--Carrega o css para highlight de sintaxe  -->
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}

<!-- Script para fazer o LaTeX inline com $ $ -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>

</head>

<body>

{{ partial "nav.html" . }}

<main class="content">

<div class = "post_title">
	<h1> {{ .Title }}  </h1> 
</div>
<header class ="post_header">

    <ul class = 'post_tags'>
        <li class = 'tag'>tag_teste</li>
        <li class = 'tag'>tag1</li>
    </ul>

	{{ $date:= .Date.Format "2006-01-02" }}
	{{ $lastmod := .Lastmod.Format "2006-01-02" }}

    <div class = 'date_info'>
		<time title = 'Creation date'>Published: {{ $date }} </time>  <br>
		{{ if ne $lastmod $date }}
			<time title = 'Last major modification date'>Modified: {{ $lastmod }}</time>
		{{ end }}
    </div>

</header>
</div>
