<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<!-- Carrega o css generico -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	
<!--Carrega o css para highlight de sintaxe  -->
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}

<!-- Script para fazer o LaTeX inline com $ $ -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    });
</script>

</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
