<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Header</title>
	<link rel="stylesheet" href="../../static/css/style.css" type="text/css" media="all" />
</head>
<body>
<header class ="post_header">

    <div class = 'post-title'>
        <h1>
            Titulo oi
        </h1>
    </div>

    <div class = 'post_tags'>
tag_teste tag1
    </div>

    <div class = 'date_info'>
        <time title = 'Creation date'>2021-06-02</time> - 
        <time title = 'Last major modification date'>2021-06-02</time>
    </div>

</header>
</div>
</body>
</html>