<!-- Examples to learn Go templates -->


<!-- Text Example -->
<!-- This is a text and will be rendered unchanged -->

<!-- Actions in Templates -->
<!-- {{ "Everything between here is an action" }} -->
<!-- This is a text and will be rendered unchanged -->

<!-- Iterating -->


<!-- {{$site_variables := .Site.RegularPages }} -->

<!-- {{ range $site_variables }} -->
    
<!--     <p> -->
<!--     .Title = {{ .Title }} -->
<!--     <p> -->
<!--     .Permalink = {{.Permalink}} -->
<!--     <p> -->
<!--     .RelPermalink = {{.RelPermalink}} -->

<!-- {{ end }} -->


<ul>
    {{ range .Site.Taxonomies.tags }}
    <p> 
        {{ .Page.Permalink }}
    <p> 
        {{ .Page.Title }}
            <li id=post_preview_tag>
                <a href="{{ .Page.Permalink }}">
                    {{ .Page.Title }}
                </a>
            </li>
    {{ end }}
</ul>


{{ .Site.Home.Permalink }}tags/
<p>
<p>

<li id='post_preview_tag'>
</li>


<ul class = 'post_preview_tags'>
    {{ range $tag := .Site.Taxonomies.tags }}
        <li id='post_preview_tag'>
                {{ $tag := .Page.Title }}
                <a href="{{ .Page.Permalink }}">
                    {{ $tag }}
                </a>
        </li>
    {{end}} 
</ul>

<a href="{{ .Site.Home.Permalink }}/tags/learning">
    link
</a>
{{ .Site.Home.Permalink }}tags/

<!-- {{ .Site.Taxonomies.tags.Permalink }} -->
<!-- {{ .Site.Taxonomies.tags }} -->

<!-- .Site.Taxonomies.tags -->







